Repository Habubinator/Voltyze: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, npx -y sort-package-json

upd
  src/auth/types/auth.type.ts
  src/common/utils/validation.util.ts
Due: eslint --fix, prettier --write

swagger auto
  src/common/swagger/index.ts
  src/index.ts
Due: eslint --fix, prettier --write

source upd
  src/admin/controllers/index.ts
  src/admin/index.ts
  src/admin/router/index.ts
  src/admin/services/admin.service.ts
  src/admin/services/index.ts
  src/index.ts
  src/review/controllers/index.ts
  src/review/controllers/review.controller.ts
  src/review/index.ts
  src/review/routers/index.ts
  src/review/routers/review.router.ts
  src/review/services/index.ts
  src/review/services/review.service.ts
  src/stations/controllers/index.ts
  src/stations/controllers/station.controller.ts
  src/stations/index.ts
  src/stations/routers/index.ts
  src/stations/routers/station.router.ts
  src/stations/services/index.ts
  src/stations/services/station.service.ts
Due: eslint --fix, prettier --write

wild
  package.json
  src/config/index.ts
  src/index.ts
  src/stations/controllers/station.controller.ts
  src/stations/routers/station.router.ts
  src/stations/services/station.service.ts
  static/css/style.css
  static/favourite.html
  static/images/logo.png
  static/index.html
  static/js/api.js
  static/js/app.js
  static/js/auth.js
  static/js/login.js
  static/js/map.js
  static/js/mapbox.js
  static/js/mockup-fav.js
  static/login.html
Due: eslint --fix, prettier --write, npx -y sort-package-json

upd tests
  __tests__/admin.test.ts
  __tests__/review.test.ts
  __tests__/station.test.ts
  jest.config.js
  src/admin/index.ts
  src/admin/services/admin.service.ts
  src/admin/services/index.ts
  src/review/services/review.service.ts
  src/stations/controllers/station.controller.ts
  src/stations/services/station.service.ts
  tsconfig.json
Due: eslint --fix, prettier --write

апи
  static/js/api.js
Due: prettier --write

Path conditions:
  eslint --fix: any of: {src,test}/**/*.ts
  prettier --write: any of: ./**/*.{ts,js,json}
  npx -y sort-package-json: any of: package.json
